svg {
    display: flex;
    font-family: 'Inter';
    font-size: 175px;
    width: 100%;
    height: 400px;
    margin: 0 auto;
}

.page {
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}

.slogan {
    color: lightgrey; 
    font-weight: bold; 
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    font-family: 'Inter'; 
    font-size: 30px;
}

.overview {
    color: lavender; 
    text-align: center; 
    width: 50%;
    font-family: 'Libre';
}

.statistics {
    display: flex;
    color: lavender; 
    text-align: center; 
}

.flexible {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

.animated-text {
    letter-spacing: 20px;
}

/* First Animated Text */


.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #c58c85;
	animation-delay: -1s;
}

.text-copy:nth-child(2){
	stroke: #503335;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #ecbcb4;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #a1665e;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: o#ecbcb4;
	animation-delay: -5s;
}


/* Second Animated Text */


.text1-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text1-copy:nth-child(1){
	stroke: #663a82;
	animation-delay: -1s;
}

.text1-copy:nth-child(2){
	stroke: #b491c8;
	animation-delay: -2s;
}

.text1-copy:nth-child(3){
	stroke: #3c1361;
	animation-delay: -3s;
}

.text1-copy:nth-child(4){
	stroke: #bca0dc;
	animation-delay: -4s;
}

.text1-copy:nth-child(5){
	stroke: o#7c5292;
	animation-delay: -5s;
}


/* Third Animated Text */



.text2-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
  }
  
  .text2-copy:nth-child(1){
  stroke: #658364;
  animation-delay: -1s;
  }
  
  .text2-copy:nth-child(2){
  stroke: #95bb72;
  animation-delay: -2s;
  }
  
  .text2-copy:nth-child(3){
  stroke: #4b6043;
  animation-delay: -3s;
  }
  
  .text2-copy:nth-child(4){
  stroke: #a3c585;
  animation-delay: -4s;
  }
  
  .text2-copy:nth-child(5){
  stroke: o#87ab69;
  animation-delay: -5s;
  }
  
  @keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
  }
  